<li>
	{{burger_name}}
	{{#unless eaten}}
		<button class="change-eaten" id="{{id}}" data-neweaten="{{eaten}}">
			EAT ME!
		</button>
	{{/unless}}

	{{#if eaten}}
		<button class="cook-more" id="{{id}}" data-neweaten="{{eaten}}">
			COOK MORE!
		</button>
	{{/if}}

	<button class="delete-burger" id="{{id}}">DELETE!</button>
</li>
